/* Pagina */
body{

    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0px;
    height: 100vh;

}

/* Header e footer */

header, footer{

    color: #fff;
    padding: 0.5em;
}

/* Fim header e footer */


/* Header */

header{

    background: linear-gradient(#003366,#006699);
    display: flex;
    justify-content:space-between;
    
}

/* Fim Header */



/* Main */

main{

    background: linear-gradient(rgb(231, 236, 247), #eee);
    height: 100%;
    padding: 1em;
}

/* Fim Main */

/* Footer */

footer{

    background-color: #003366;
    margin-top: auto;
}

div#logo{
    
    margin: auto 0;
}
div#logo * {
    
    vertical-align:middle;
    display: inline-block;
    margin-left: 0.5em;
}

div#usuarioInfo *, footer span{

    display: block;
    margin-bottom: 0.5em;
}

/* Tabela */

table{

    border-spacing : 0.1em;
    margin: 0.5em auto;
    width: 100%;

}

table th{

    background-color: #003366;
    color:#fff;
}

table td, table th{

    padding: 0.5em;
}

table tfoot td{

    text-align: center;
    border-top: 1px solid #003366

}

table tbody tr:nth-child(odd){

    background-color: #c6d4e2;

}

table tbody tr:nth-child(eve){

    background-color: #e7ecf1;
}

table tbody tr:hover{

    background-color: #ccc;
}

div#comandos{

  
    display: flex;
    justify-content: space-between;
    padding: 0.5em 0.1em;
    border-bottom: 1px solid #003366
}

table tbody td:last-child{

    width: 10%;
    white-space: nowrap;
    text-align: center;
}

/* Alerta */

div.alerta{

    border: 1px solid;
    padding: 1em;
    max-width: 400px;
    margin: 1em auto;
    word-wrap: break-word;
    /* position: absolute;
    top: 0.5em;
    right:0;
    left: 0;
    opacity: .8;
    box-shadow: 0px 2px 2px 0px black;
    border-radius: 5px; */
    
}

div.alerta span{

    float: right;
    font-size: 1.25em;
    cursor: pointer;
}

div.alerta.erro{

    background-color: #ff9f9f;
    color: #850404;
    border-color: #850404;
}

div.alerta.sucesso{

    background-color: #afffba;
    color: #006f05;
    border-color: #006f05;
}